.celect {
    font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.section {
    display: flex;
    align-items: center;
}
 
.nav{
    display: flex;
    align-items: center;
}

.ull{
    display: flex; 
    list-style: none;
}
.lit{
    width: 210px;
    height: 50px;
    list-style: none;
    text-decoration: none;
}

.btn-group button {
    width: 400px;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.bordered-button-enter {
    font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 50px;
    font-weight: 100;
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.bordered-button-find-out-more {
    width: 170px;
    height: 60px;
    font-family: "Google-Sans-Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F1A501;
    color: white;
    border: white;
    border-radius: 10px;
}

header{
    width: 10;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ggg{
    height: 10px;
}

.section .text1_best_dist {
    font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #DF6951;
}

.text2_best_life {
    font-family: "Volkhov", Arial, Helvetica, sans-serif;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;
}

.text3_bred {
    font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.text4-CATEGORY {
    font-family: "Poppins-Semi-Bold";
    font-size: 18px;
    color: #5E6282;
}

.text5-we-offer-best {
    font-family: "Volkhov";
    font-size: 50px;
    color: #14183E;
}

.services {
    width: 1228;
    height: 525;
}

.services-head {
    justify-content: center;
    display: block;
    align-items: center;
}

.div1 {
    height: 535px;
    width: 630px;
}

.div3 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.desc {
    display: flex;
    align-items: center;
}

.div4 {
    justify-content: center;
    gap: 100px;
    display: flex;
    align-items: center;
}

.div4 h1{
    font-family: "Google-Sans-Bold";
    font-size: 20px;
    align-self: center;
}

.div4 p{
    font-family: "Poppins-Medium";
    font-size: 16px;
    align-items: center;
}

.category {
    width: 190px;
    height: 227px;
}