    header {
        width: 10;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }

    /*верхушка*/
    .section-head {
        position: relative;
        width: 1200px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-self: center;
        margin: 10%;
    }

    .logo-and-buttons {
        display: flex;
        gap: 200px  ;
    }

    .decor {
        position: absolute;
        top: -100px;
        left: 60%;
        z-index: -1;
    }
    
    .nav{
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .ull{
        display: flex; 
        list-style: none;
        gap: 100px;
        margin: 0;
    }

    .lit{
        list-style: none;
        text-decoration: none;
        margin: 0;
    }

    .celect {
        font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
        color: black;
        font-size: 15px;
        text-decoration: none;
    }

    .bordered-button-enter {
        font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 120px;
        height: 50px;
        font-weight: 100;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        border: 2px solid #333;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .bordered-button-enter:hover {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
    }

    .bordered-button-enter:active {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
        transform: scale(0.98);
    }

    .language {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .language h3 {
        font-family: "Google-Sans", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #212832;
    }

    .ggg{
        height: 10px;
    }

    /*sign-wind*/
    .sign-wind {
        position: fixed;
        top: 0%;
        left: 0%;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    .sign-wind-text h1 {
        margin-top: 0;
        color: #333;
    }
    .sign-wind-text p {
        margin: 0.5rem 0;
        color: #666;
    }
    .sign-wind-form form {
        display: grid;
        gap: 1rem;
        margin-top: 1.5rem;
    }
    .sign-wind-form input {
        width: calc(100% - 22px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }
    .sign-wind-form button[type="submit"] {
        background-color: #007bff; 
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
    }
    .sign-wind-form button#closeModalBtn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }


    /*traveller*/
    .traveller-sect {
        align-content: center;
        align-self: center;
        justify-self: center;
        height: 764px;
        width: 1200px;
    }

    .traveller {
        display: flex;
        width: 1400px;
    }

    .div1 {
        top: 100px;
        width: 600px;
    }
    
    .text1_best_dist {
        height: 0px;
        line-height: 0px;
        font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #DF6951;

        margin-top: 130px;
    }

    .text2_best_life {
        font-family: "Volkhov", Arial, Helvetica, sans-serif;
        font-size: 84px;
        line-height: 89px;
        letter-spacing: -4%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .text3_bred {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        width: 457px;
        color: #5E6282;

        margin-bottom: 20px;
    }

    .desc {
        display: flex;
        gap: 40px;
    }

    .bordered-button-find-out-more {
        width: 170pt;
        height: 60px;
        font-family: "Google-Sans-Medium", Arial, Helvetica, sans-serif;
        font-size: 18px;
        background-color: #F1A501;
        color: white;
        border: none;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }

    .bordered-button-find-out-more:hover {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
    }

    .bordered-button-find-out-more:active {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
        transform: scale(0.98);
    }

    .play {
        width: 52pt;
        height: 52px;
        background-color: #DF6951;
        border: none;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        transition: background 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 6px 10px 10px 4px #df695136;

        background-image: url("../images/right.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .play:hover {
        background-image: url("../images/right.svg");
    }

    .play:active {
        background-image: url("../images/right.svg");
        transform: scale(0.98);
    }

    .div2 {
        position: relative;
        width: 784px;
        height: 764px;
        background-image: url(../images/Traveller1.png);
        background-position: -50px;
    }

    .plane1 {
        position: absolute;
        top: 50px;
        left: 80px;
    }

    .plane2 {
        position: absolute;
        top: 90px;
        left: 580px;
        z-index: -1;
    }

    .decore {
        position: absolute;
        top: 250px;
        left: -350px;
        z-index: -1;
    }


    /*services*/    
    .services {
        width: 1228px;
        
        justify-self: center;
        margin-top: 100px;
    }

    .div3 {
        text-align: center;
        display: flex;
        gap: 100px;
        align-content: center;
        justify-content: center;
        width: 1228px;
        padding-bottom: 100px;
    }

    .div3 img {
        left: 100%;
        width: 153px;
        height: 166px;
    }

    .services-head {
        display: grid;
        gap: 0;
        
        background-image: url("..images/plusiki.png");
        background-position:  10%, 10%;
    }
    
    .text4-CATEGORY {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #5E6282;
        margin-top: 150px;
        
    }

    .text5-we-offer-best {
        font-family: "Volkhov", Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: #14183E;
        margin: 0;
    }
    
    .div4 {
        position: relative;
        justify-content: center;
        gap: 60px;
        display: flex;
        align-items: center;
    }

    .div4 h1{
        font-family: "Google-Sans-Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        align-self: center;
    }

    .div4 p{
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        align-items: center;
    }

    .rectangle {
        position: absolute;
        top: 250px;
        left: 270px;
        z-index: -1;
    }
    
    .category {
        align-items: center;
        justify-items: center;
        text-align: center;
        display: grid;
        gap: 10px;
        
        width: 267px;
        height: 314px;
    }

    .category p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: #5E6282;
        width: 181px;
    }

    .category img {
        height:  60px;
    }

    .category-plane {
        align-items: center;
        justify-items: center;
        text-align: center;
        display: grid;
        gap: 10px;
        width: 267px;
        height: 314px;

        background-color: white;
        border-radius: 36px;

        transition: background 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 50px 50px 0px rgba(128, 128, 128, 0.072);
    }

    .category-plane p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        width: 181px;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: #5E6282;
    }

    .img-plane {
        position: relative;
        height: 60px;
    }

    .pl {
        position: absolute;
        top: -40px;
        left: -50px;

        height: 132px;
        width: 132px;
    }
    

    /*TOP SELLING*/
    .top_sellingg {
        display: grid;
        justify-self: center;
        width: 1200px;
    }

    .cards {
        height: 458px;
        justify-self: center;
        justify-content: center;
        gap: 70px;
        position: relative;
        display: flex;
        width: 1102px;
    }

    .over {
        position:absolute;
        top: 320px;
        left: 20px;
        right: 0;
        bottom: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content:center;
    }

    .over p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 0%;
        letter-spacing: 0%;
        color: #5E6282;
    }

    .over img {
        margin: 5px 0;
        top: 10px;
        right: 10px;
    }
    
    .first-text-card {
        display: flex;
        gap: 40px;
    }

    .second-text-card {
        text-align: left;
        display: flex;
        gap: 15px;
    }

    .second-text-card img{
        width: 20px;
        height: 20px;
    }

    .card1 {
        width: 315px;
        background-image: url(../images/Rome_card.png);
        position: relative;

        border-radius: 24px;
        
        transition: background 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 50px 50px 0px rgba(128, 128, 128, 0.138);
    }

    .card2 {
        width: 315px;
        background-image: url(../images/London_card.png);
        position: relative;

        border-radius: 24px;
        
        transition: background 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 50px 50px 0px rgba(128, 128, 128, 0.138);
    }

    .card3 {
        width: 315px;
        background-image: url(../images/Last_card.png);
        position: relative;

        border-radius: 24px;
        
        transition: background 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 50px 50px 0px rgba(128, 128, 128, 0.138);
    }

    .zigzag {
        position: absolute;
        z-index: -1;
        top: 140px;
        left: 1010px;
    }



    /*EASY_A*/
    .section-easy-a {
        justify-self: center;
        width: 1174px;
    }

    .easy_and_fast {
        display: flex;
        
    }

    .div5 {
        display: grid;
        align-content: center;
        gap: 30px;
    }

    .chose {
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: 395px;
    }

    .chose img {
        width: 47px;
        height: 48px;
        margin-bottom: 20px;
    }

    .chose h1 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 124,5%;
        letter-spacing: 0%;
        margin-top: 0;
        margin-bottom: 0;
        color: #5E6282;
    }

    .chose p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 124%;
        letter-spacing: 0%;
        margin-top: 0;
        margin-bottom: 0;
        color: #5E6282;
    }

    .img_easy p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 124,5%;
        letter-spacing: -0,5%;
        color: #84829A;
    }


    /*TESTIMONIALS*/
    .section-testimonials {
        justify-self: center;
        width: 1200px;
    }

    .testimonials {
        display: flex;
        width: 1165px;
        height: 356px;
        justify-self: center;

        margin-top: 100px;
        margin-bottom: 100px;
    }

    .div6 {
        display: flex;
        align-content: center;
        gap: 30px;
    }

    .text9 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #5E6282;
        margin-bottom: 0;
    }

    .text10 {
        font-family: "Volkhov", Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: #14183E;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .points {
        display: flex;
        height: 12px;
        width: 12px;
        gap: 25px;
    }

    .dialog-cards {
        position: relative;
        width: 669pt;
        height: 356pt;
    }

    .dialog-card1 {
        position: absolute;
        width: 400pt;
        height: 279pt;
        top: 80px;
        left: 50px;
        right: 0;
        bottom: 0px;
    }

    .dialog-card2 {
        position: absolute;
        width: 400pt;
        height: 279pt;
        left: 0;
        right: 0;
    }

    .text6{
        position: absolute;
        top: 50px;
        left: 115px;
        right: 0;
        bottom: 0px;
        display: flex;

        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #5E6282;
    }

    .text7{
        position: absolute;
        top: 180px;
        left: 115px;
        right: 0;
        bottom: 0px;
        display: flex;

        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0%;
        color: #14183E;
    }

    .text8{
        position: absolute;
        top: 210px;
        left: 115px;
        right: 0;
        bottom: 0px;
        display: flex;

        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0%;
        color: #5E6282;
    }

    .strelki {
        position: absolute;
        display: grid;
        gap: 50px;
        top: 155px;
        left: 800px;

    }



    /*subscribe-section*/
    .subscribe-section {
        position: relative;
        width: 1200px;
        height: 407px;
        justify-self: center;
    }

    .subscribe-section p{
        position: absolute;
        top: 60px;
        left: 150px;
        width: 859px;
        height: 108px;

        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 33px;
        line-height: 54px;
        text-align: center;
        color: #5E6282;
    }

    .subscribe-section img{
        position: absolute;
        top: 0px;
        left: -100px;
        width: 0px;
        height: 0px;
        width: 1400px;
        height: 500px;
    }

    .inp {
        position: absolute;
        top: 300px;
        left: 330px;
        width: 300px;

        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #39425D;
    }

    /*кнопка*/
    .custom-button {
        position: absolute;
        top: 275px;
        left: 700px;
        width: 180px;
        height: 68px;
        padding: 0;
        border: none;

        border-radius: 10pt;
        background-image: linear-gradient(to right, #FF946D, #FF7D68);
        
        color: #FFFFFF;
        letter-spacing: 1px;
        font-size: 17px;
        font-family: "Google-Sans-Medium", Arial, Helvetica, sans-serif;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }

    .custom-button:hover {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
    }

    .custom-button:active {
        background-image: linear-gradient(to right, #FFAA00, #FFC30B);
        transform: scale(0.98);
    }


    /*ПОДВАЛ*/
    .podval-col {
        display: flex;
        justify-self: center;
        gap: 450px;
        margin-top: 200px;
    }

    .logo-ty {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 44px;
        color: #181E4B;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .company {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 21px;
        color: black;
        margin-block-end: 26px;
    }

    .book {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #5E6282;
        line-height: 125%;


        width: 207px;
    }

    .about {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0%;
        color: #5E6282;
        text-decoration: none;
    }

    .discover p {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        color: #5E6282;
        letter-spacing: 1%;
        margin-block-end: 10px;
    }

    .priloj {
        margin-top: 15px;
        display: block;
    }

    .priloj img {
        width: 41px;
        height: 41px;
    }

    .download img{
        width: 107px;
        height: 35px;
    }